@import '../../styles/_colors.scss';
@import '../../styles/_mixins.scss';

.home {
  ul.navButtons {
    text-align: center;
    li {
      display: inline;
      &:not(:first-child) {
        margin-left: 20px;
      }
      a {
        display: inline-block;
        @include buttonstyle($accent, $darkaccent);
        width: 100px;
      }
    }
  }
  .imageContainer {
    margin-top: 30px;
    text-align: center;
    img {
      width: 440px;
      @include round(20px);
    }
  }
  @media (max-width: 500px) {
    ul.navButtons {
      li {
        display: block;
        &:not(:first-child) {
          margin: 20px 0 0 0;
        }
      }
    }
    .imageContainer {
      img {
        width: 100%;
      }
    }
  }
}
