footer {
  border-top: 1px solid #ee8800;
  margin-bottom: 30px;
  padding-top: 10px;
  text-align: center;
  clear: both; }
  footer ul li {
    display: inline; }
    footer ul li:not(:first-child)::before {
      content: " | ";
      color: #545252; }
