@import "../../styles/_colors.scss";

footer {
  border-top: 1px solid $main;
  margin-bottom: 30px;
  padding-top: 10px;
  text-align: center;
  clear: both;
  ul {
    li {
      display: inline;
			&:not(:first-child) {
				&::before {
					content: " | ";
					color: $text;
				}
			}
    }
  }
}
